body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#w3c
{
	width: 50px;
	height: 50px;
}

#titre{
	text-align: center;
	font-size: 40px;
	color: white;
	display: block;
	text-align: center;
	margin-top: 0;
	background: black;
	width: 100%;
	padding-bottom: 5%;
}

#form_connect{
	margin-left: 71%;
	margin-top: -8%;
	color: white;
}

#sous_la_connect{
	margin-right: 10%;
	margin-left: 71%;
	margin-top: 0%;
	color: white;
}	


img {
	width: 100px;
	height: 150px;
}

#pubs
{
	position: absolute;
	top: 20%;
	margin-left: 85%;
}


#logo_pubs li
{
	list-style-type: none;
}
#logo_pubs img{
	width: 150px;
	height: 50px;
}

a{
	text-decoration: none;
}

#menu_central {
	margin-top: 5%;
	margin-left: 35%;
	margin-right: 25%;
}
ul#menu_horizontal li{ 
	display : inline;
	padding : 0 10px;
}
ul#menu_horizontal {
	list-style-type : none;
	width: 100%;
}

#h1
{
	margin-top: -5%;
	color: blue;
	margin-left: 28%;
}

#menu_panier
{
	margin-top: 2%;
	margin-left: 0%;	
}

#table_panier
{
	font-size: 18px;
	font-family: "Times";
	margin-right: auto;
	margin-left: 30%;
}
td th {
	padding-right: 5%;
}

td{
	text-align: center;
}

#logo_panier{
	width: 50px;
	height: 50px;
}

#prix
{
	font-size: 22px;
	color: red;
	margin-left: -6%;
}

#contact
{
	margin-top: 5%;
}

#contact p
{
	font-size: 14px;
}

#footer 
{ 
	position: fixed;
	bottom: 0%;
	left: 37%;	
	text-align: center;
}

h2{
	font-size: 11px;
}


li:hover ul{
	display:block;
}

ul ul{
	display: none;
} 

#div_h1
{
	margin-top: -3%;
	text-align: center;
	color: blue;
}

p{
	text-align: center;
	color: black;
}
#logo{
	width: 180px;
	height: 75px;
	margin: 0;
	position: absolute;
	left: 0;
}